  table {
    
  }
  
  tbody {
    border-bottom: 1px solid lightgray;
    
  }
  
  th {
    
    padding: 5px 6px;
    color: white;
    background-color: #7a7979;
    font-size: 10px;
    
  }
  
  tfoot {
    color: gray;

  }
  
  tfoot th {
    font-weight: normal;
    
  }
  